<!DOCTYPE html>
<html>

<head>
  <title>Articles</title>
  <!-- Add CSS and other head elements here -->
</head>

<body>
  <h1>ArXiv Articles</h1>
  <form action="/scrapeArxiv" method="get">
    <input type="text" name="query" placeholder="Enter search query" required>
    <button type="submit">Scrape arXiv</button>
  </form>
  <div>
    <%= articles.length %> articles have been scraped
  </div>

  <% articles.forEach(function(article) { %>
    <div>
      <h3>
        <%= article.title %>
      </h3>
      <p>
        <%= article.summary %>
      </p>
      <% article.authors.forEach(function(author) { %>
        <p>
          <%= author %>
        </p>
        <% }); %>
          <a href="<%= article.links.find(link => link.rel === 'related').href %>" target="_blank">Download PDF</a>
    </div>
    <% }); %>
</body>

</html>